# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
.expo/
web-build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Assets/Sample_Videos/ 
Assets/Sample_Videos/ 
Assets/Sample_Videos/ 
